<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>N27</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <section>                                
            <h2 class="full-width-borders"><img src="/images/placemat.png"/>N27</h2>                       
            
            <% for(var i=0; i < anzeigen.length; i++) {%>
                <p><%- anzeigen[i] %></p><hr>                    
            <% } %>                   
        
            <form action="" method="POST" <% if (anzeigen.length == 1){%>style="display: none" <%}  %>>            
                <p></p>
                <input type="text" name="tbxName" id="tbxName" placeholder="Mein Name ...">                                        
                <button id="btnButton">Anmelden</button>
            </form>
            <p>&copy; Maja Nattefort</p>         
        </section>        
    </body>
</html>